<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @track.title %>
</p>

<p>
  <b>Artist:</b>
  <%= @track.artist_id %>
</p>

<p>
  <b>Album:</b>
  <%= @track.album_id %>
</p>

<p>
  <b>Label:</b>
  <%= @track.label_id %>
</p>

<p>
  <b>Mention:</b>
  <%= @track.mention_id %>
</p>


<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>
