%li.video.thumb.entity
  .image
    = link_to video_path(video), :class => "thumbnail" do
      = image_tag(video.thumbnail_small, :alt => video.title, :class => "thumbnail")
      %span.duration= duration(video)
  .meta
    = source_links(video)
    %h3= link_to video.title, video_path(video)
  .loading
