<p>
  <b>Name:</b>
  <%= name %>
</p>

<p>
  <b>Url:</b>
  <%= url %>
</p>

<p>
  <b>Kind:</b>
  <%= kind %>
</p>

<p>
  <b>Feeds:</b>
  <%= feeds %>
</p>

<p>
  <b>Popularity:</b>
  <%= popularity %>
</p>


<a href="#/index">Back</a>