<p>
  <b>Title:</b>
  <%= title %>
</p>

<p>
  <b>Artist:</b>
  <%= artist_id %>
</p>

<p>
  <b>Label:</b>
  <%= label_id %>
</p>

<p>
  <b>Rdio url:</b>
  <%= rdio_url %>
</p>

<p>
  <b>Spotify url:</b>
  <%= spotify_url %>
</p>


<a href="#/index">Back</a>