<h1>Edit video</h1>

<form id="edit-video" name="video">
  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value=<%= title %> >
  </div>

  <div class="field">
    <label for="url"> url:</label>
    <input type="text" name="url" id="url" value=<%= url %> >
  </div>

  <div class="field">
    <label for="video_id"> video_id:</label>
    <input type="text" name="video_id" id="video_id" value=<%= video_id %> >
  </div>

  <div class="field">
    <label for="provider"> provider:</label>
    <input type="text" name="provider" id="provider" value=<%= provider %> >
  </div>

  <div class="field">
    <label for="description"> description:</label>
    <input type="text" name="description" id="description" value=<%= description %> >
  </div>

  <div class="field">
    <label for="keywords"> keywords:</label>
    <input type="text" name="keywords" id="keywords" value=<%= keywords %> >
  </div>

  <div class="field">
    <label for="duration"> duration:</label>
    <input type="text" name="duration" id="duration" value=<%= duration %> >
  </div>

  <div class="field">
    <label for="date"> date:</label>
    <input type="text" name="date" id="date" value=<%= date %> >
  </div>

  <div class="field">
    <label for="thumbnail_small"> thumbnail_small:</label>
    <input type="text" name="thumbnail_small" id="thumbnail_small" value=<%= thumbnail_small %> >
  </div>

  <div class="field">
    <label for="thumbnail_large"> thumbnail_large:</label>
    <input type="text" name="thumbnail_large" id="thumbnail_large" value=<%= thumbnail_large %> >
  </div>

  <div class="field">
    <label for="width"> width:</label>
    <input type="text" name="width" id="width" value=<%= width %> >
  </div>

  <div class="field">
    <label for="height"> height:</label>
    <input type="text" name="height" id="height" value=<%= height %> >
  </div>

  <div class="field">
    <label for="popularity"> popularity:</label>
    <input type="text" name="popularity" id="popularity" value=<%= popularity %> >
  </div>

  <div class="field">
    <label for="url_html"> url_html:</label>
    <input type="text" name="url_html" id="url_html" value=<%= url_html %> >
  </div>

  <div class="actions">
    <input type="submit" value="Update Video" />
  </div>

</form>

<a href="#/index">Back</a>