<p>
  <b>Title:</b>
  <%= title %>
</p>

<p>
  <b>Url:</b>
  <%= url %>
</p>

<p>
  <b>Video:</b>
  <%= video_id %>
</p>

<p>
  <b>Provider:</b>
  <%= provider %>
</p>

<p>
  <b>Description:</b>
  <%= description %>
</p>

<p>
  <b>Keywords:</b>
  <%= keywords %>
</p>

<p>
  <b>Duration:</b>
  <%= duration %>
</p>

<p>
  <b>Date:</b>
  <%= date %>
</p>

<p>
  <b>Thumbnail small:</b>
  <%= thumbnail_small %>
</p>

<p>
  <b>Thumbnail large:</b>
  <%= thumbnail_large %>
</p>

<p>
  <b>Width:</b>
  <%= width %>
</p>

<p>
  <b>Height:</b>
  <%= height %>
</p>

<p>
  <b>Popularity:</b>
  <%= popularity %>
</p>

<p>
  <b>Url html:</b>
  <%= url_html %>
</p>


<a href="#/index">Back</a>