<td><%= title %></td>
<td><%= url %></td>
<td><%= video_id %></td>
<td><%= provider %></td>
<td><%= description %></td>
<td><%= keywords %></td>
<td><%= duration %></td>
<td><%= date %></td>
<td><%= thumbnail_small %></td>
<td><%= thumbnail_large %></td>
<td><%= width %></td>
<td><%= height %></td>
<td><%= popularity %></td>
<td><%= url_html %></td>

<td><a href="#/<%= id %>">Show</td>
<td><a href="#/<%= id %>/edit">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>