<h1>Listing mentions</h1>

<table>
  <tr>
    <th>Source</th>
    <th>Source type</th>
    <th>Author</th>
    <th>Text</th>
    <th>Url</th>
    <th>Rating</th>
    <th>Sentiment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mentions.each do |mention| %>
  <tr>
    <td><%= mention.source_id %></td>
    <td><%= mention.source_type %></td>
    <td><%= mention.author_id %></td>
    <td><%= mention.text %></td>
    <td><%= mention.url %></td>
    <td><%= mention.rating %></td>
    <td><%= mention.sentiment %></td>
    <td><%= link_to 'Show', mention %></td>
    <td><%= link_to 'Edit', edit_mention_path(mention) %></td>
    <td><%= link_to 'Destroy', mention, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mention', new_mention_path %>
