%p#notice= notice
%p
  %b Source:
  = @mention.source_id
%p
  %b Author:
  = @mention.author_id
%p
  %b Track:
  = @mention.track_id
%p
  %b Album:
  = @mention.album_id
%p
  %b Text:
  = @mention.text
%p
  %b Url:
  = @mention.url
%p
  %b Rating:
  = @mention.rating
%p
  %b Sentiment:
  = @mention.sentiment
= link_to 'Edit', edit_mention_path(@mention)
|
\#{link_to 'Back', mentions_path}
