<td><%= name %></td>
<td><%= echonest_id %></td>
<td><%= images %></td>
<td><%= biographies %></td>
<td><%= popularity %></td>
<td><%= familiarity %></td>

<td><a href="#/<%= id %>">Show</td>
<td><a href="#/<%= id %>/edit">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>