<p>
  <b>Name:</b>
  <%= name %>
</p>

<p>
  <b>Echonest:</b>
  <%= echonest_id %>
</p>

<p>
  <b>Images:</b>
  <%= images %>
</p>

<p>
  <b>Biographies:</b>
  <%= biographies %>
</p>

<p>
  <b>Popularity:</b>
  <%= popularity %>
</p>

<p>
  <b>Familiarity:</b>
  <%= familiarity %>
</p>


<a href="#/index">Back</a>