<h1>Edit mention</h1>

<form id="edit-mention" name="mention">
  <div class="field">
    <label for="source_id"> source_id:</label>
    <input type="text" name="source_id" id="source_id" value=<%= source_id %> >
  </div>

  <div class="field">
    <label for="text"> text:</label>
    <input type="text" name="text" id="text" value=<%= text %> >
  </div>

  <div class="field">
    <label for="url"> url:</label>
    <input type="text" name="url" id="url" value=<%= url %> >
  </div>

  <div class="field">
    <label for="date"> date:</label>
    <input type="text" name="date" id="date" value=<%= date %> >
  </div>

  <div class="field">
    <label for="video_id"> video_id:</label>
    <input type="text" name="video_id" id="video_id" value=<%= video_id %> >
  </div>

  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value=<%= title %> >
  </div>

  <div class="actions">
    <input type="submit" value="Update Mention" />
  </div>

</form>

<a href="#/index">Back</a>