<td><%= track_id %></td>
<td><%= album_id %></td>
<td><%= source_id %></td>
<td><%= author_id %></td>
<td><%= text %></td>
<td><%= url %></td>
<td><%= rating %></td>
<td><%= sentiment %></td>
<td><%= date %></td>

<td><a href="#/<%= id %>">Show</td>
<td><a href="#/<%= id %>/edit">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>