<h1>New mention</h1>

<form id="new-mention" name="mention">
  <div class="field">
    <label for="source_id"> source_id:</label>
    <input type="text" name="source_id" id="source_id" value=<%= source_id %> >
  </div>

  <div class="field">
    <label for="author_id"> author_id:</label>
    <input type="text" name="author_id" id="author_id" value=<%= author_id %> >
  </div>

  <div class="field">
    <label for="text"> text:</label>
    <input type="text" name="text" id="text" value=<%= text %> >
  </div>

  <div class="field">
    <label for="url"> url:</label>
    <input type="text" name="url" id="url" value=<%= url %> >
  </div>

  <div class="field">
    <label for="rating"> rating:</label>
    <input type="text" name="rating" id="rating" value=<%= rating %> >
  </div>

  <div class="field">
    <label for="sentiment"> sentiment:</label>
    <input type="text" name="sentiment" id="sentiment" value=<%= sentiment %> >
  </div>

  <div class="field">
    <label for="date"> date:</label>
    <input type="text" name="date" id="date" value=<%= date %> >
  </div>

  <div class="actions">
    <input type="submit" value="Create Mention" />
  </div>

</form>

<a href="#/index">Back</a>