<p>
  <b>Source:</b>
  <%= source_id %>
</p>

<p>
  <b>Author:</b>
  <%= author_id %>
</p>

<p>
  <b>Text:</b>
  <%= text %>
</p>

<p>
  <b>Url:</b>
  <%= url %>
</p>

<p>
  <b>Rating:</b>
  <%= rating %>
</p>

<p>
  <b>Sentiment:</b>
  <%= sentiment %>
</p>

<p>
  <b>Date:</b>
  <%= date %>
</p>


<a href="#/index">Back</a>