<h1>Edit track</h1>

<form id="edit-track" name="track">
  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value=<%= title %> >
  </div>

  <div class="field">
    <label for="artist_id"> artist_id:</label>
    <input type="text" name="artist_id" id="artist_id" value=<%= artist_id %> >
  </div>

  <div class="field">
    <label for="album_id"> album_id:</label>
    <input type="text" name="album_id" id="album_id" value=<%= album_id %> >
  </div>

  <div class="field">
    <label for="label_id"> label_id:</label>
    <input type="text" name="label_id" id="label_id" value=<%= label_id %> >
  </div>

  <div class="field">
    <label for="mention_id"> mention_id:</label>
    <input type="text" name="mention_id" id="mention_id" value=<%= mention_id %> >
  </div>

  <div class="field">
    <label for="rdio_url"> rdio_url:</label>
    <input type="text" name="rdio_url" id="rdio_url" value=<%= rdio_url %> >
  </div>

  <div class="field">
    <label for="spotify_url"> spotify_url:</label>
    <input type="text" name="spotify_url" id="spotify_url" value=<%= spotify_url %> >
  </div>

  <div class="actions">
    <input type="submit" value="Update Track" />
  </div>

</form>

<a href="#/index">Back</a>