.session
  - if current_user
    .current-user= current_user.name
    = link_to "Log Out", logout_path
    .authentications
      .facebook= connection_status("facebook", current_user)
      .twitter= connection_status("twitter", current_user)
  - else
    = link_to "Log In with Facebook", "/auth/facebook"
    = link_to "Log In with Twitter", "/auth/twitter"