.session.module
  - if current_user
    .avatar= user_avatar(current_user)
    .current-user= current_user.name
    .authentications
      .twitter= connection_status("twitter", current_user)
      .facebook= connection_status("facebook", current_user)
  - else
    = link_to "Log In with Twitter", "/auth/twitter"
    = link_to "Log In with Facebook", "/auth/facebook"