!!!
%html
  %head
    %title= APP_NAME
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{ :class => body_class }
    .primary.container
      .three.columns.sidebar
        = render "layouts/sidebar"
      .twelve.columns.offset-by-one.content
        = render "layouts/header"
        = yield
        = render "shared/flash"
