!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", :"xmlns:og" => "http://ogp.me/ns#", :"xmlns:fb" => "http://www.facebook.com/2008/fbml"}
  %head
    %title= APP_NAME
    = render "shared/open_graph"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{ :class => body_class }
    = render "shared/facebook_js_sdk"
    .primary.container
      .three.columns.sidebar
        = render "layouts/sidebar"
      .twelve.columns.offset-by-one.content
        = render "layouts/header"
        = yield
        = render "shared/flash"
